*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.border{
    border:2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
.logo{
    background-image: url(Nk_logo.PNG);
    background-size: cover;
    
    font-size: 10px;
    height: 50px;
    width: 125px;
    
    
}
.address-frist{
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 18px;

}
.address-second{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3px;
   

}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange ;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.Search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:#0f1111 ;

}

/* box 4*/
span{
    font-size: 0.7rem;
    
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/*cart*/
.navcart i {
    font-size: 30px;

}
.navcart{
    font-size: 0.85rem;
    font-weight: 700;
}
/*Panel*/
.panel{
    height: 42px;
   background-color:  #222f3d;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    font-size:  0.875rem;
    
}
.one{
    font-size: 20px;
    display: flex;
    
    
}
.onee{
    font-size: 14px;
    margin-left: 5px;
    font-weight: 700;
}
.hero-section{
    background-image: url(header_photo.jpg);
    height: 350px;
    background-size: cover;
}
/*shop*/
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
   
}
.box{
    border: 0px solid black;
    height:400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    padding-bottom: 40px;
   }

.box-img2{
    height: 125px;
    width: 140px;
    
}

.top-image {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 10px;
    justify-content: space-evenly; 
    
}
.down-image{
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 10px;
    justify-content: space-evenly; 
}
.pic-set{
    color: #0f1111;
    display: flex ; 
    justify-content: space-between; 
    font-size:small; 
    text-align: left;
}

/*second*/
.shop-sec{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    padding-top: 20px;
}

/*footer*/
.footer{
    margin: 15px;
}
.foot-panel1{
background-color: #37475a;
color: white;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
font-size: 0.8rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #DDDDDD;
}
.foot-panel3{
    background-color:#222f3d;
    border-top: 0.2px solid white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel3 .logo{
    background-image: url(amazan.logo2.PNG);
    background-size: cover;
    font-size: 10px;
    height: 50px;
    width: 120px;
    
}
.foot-panel3 .atag{
    color: white;
    margin-top: 80px;
    justify-content: space-between;
 
    

}
.atag{
    background-color: #222f3d;
    height: 40px;
}
.atag a{
    color: #DDDDDD;
   text-decoration: none;
   margin: 17.5px;
   font-size: 0.85rem;
   
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 200px;
   
}
.pages{
    display: flex;
    justify-content: space-evenly;

}
ol{
    margin-top: 20px;
}
ol a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 0.75rem;
    margin-top: 10px;
    color: #DDDDDD;
    text-align: center;
}
.foot-final{
background-color: #0f1111;
color: white;
height: 80px;
font-size: 0.8rem;
text-align: center;

}
.last a{
text-decoration: none;
color: white;
margin: 5px;

}
.copyright{
    padding-top: 5px;
    
}
/*three*/
.header{
    height: 40px;
    margin-top: 20PX;
    background-color:white;
    display: flex;
    justify-content: left;
    
}
.header a{
    text-decoration: none;
    padding-left: 20px;
    
}

.three{
    display: flex;
    justify-content: space-evenly;
    background-color:white'
   
   
}
.p1{
    background-size:auto;
    height: 200px;
    width: 13%;
    background-color:#DDDDDD;
    margin-top: 20px;
    margin-left: 10px;
}
.p2{
    background-color: #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: end;
    
}
.three2{
    background-color: #cc0c39;
    height: 20px;
    width: 100px;
    color: white;
    margin-left: 12px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textdiv{
    display: flex;
    justify-content: space-around;

}
.three21{
    background-color: #cc0c39;
    height: 20px;
    width: 100px;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.three22{
    background-color: #cc0c39;
    height: 20px;
    width: 100px;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.three23{
    background-color: #cc0c39;
    height: 20px;
    width: 100px;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.three24{
    background-color: #cc0c39;
    height: 20px;
    width: 100px;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.four{
    display: flex;
    justify-content: space-evenly;
    background-color:white;
    margin-top: 20px;
}
.header2{
    height: 20px;
    margin-top: 20PX;
    background-color:white;
    display: flex;
    justify-content: left;
    
}
.header2 a{
    text-decoration: none;
    padding-left: 20px;
    text-align: justify;
    
}